{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1098678823527876',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="page-header">
    {{ 'registration.register_header'|trans|raw }}
</div>

<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal" novalidate>
    <fieldset class="well">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
    </fieldset>
    <div class="form-actions clearfix">
        <div class="pull-right">
            {{ render(url('hwi_oauth_connect')) }}
        </div>
        <button type="submit" class="btn btn-success btn-lg"><i class="icon-user"></i> {{ 'registration.submit'|trans }}</button>
    </div>
</form>
{% endblock %}
