{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="page-header">
    {{ 'registration.register_header'|trans|raw }}
</div>

<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal" novalidate>
    <fieldset class="well">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
    </fieldset>
    <div class="form-actions clearfix">
        <!--div class="pull-right">
            {#{ render(url('hwi_oauth_connect')) }}
        </div>
        <button type="submit" class="btn btn-success btn-lg"><i class="icon-user"></i> {{ 'registration.submit'|trans }#}</button-->
        <button type="submit" class="btn btn-success btn-lg"><i class="icon-user"></i> {{ 'registration.submit'|trans }}</button>
        <br><br>
        ------------------- O -------------------
        <div>
            {{ render(url('hwi_oauth_connect')) }}
        </div>
    </div>
</form>


<div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '1098678823527876',                        // App ID from the app dashboard
                //channelUrl : '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true,                                  // Look for social plugins on the page
                cookie     : true,
                version    : 'v2.2'
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>

    <h1 class="title">Hello {{ name }}!</h1>

    <p>
        <a href="#" onclick="fb_login();">Facebook Connect Button (Dialog)</a>
    </p>



<script type="text/javascript">
$( document ).ready(function() {
    $('.oauth-login-amazon').hide();
});
</script>
{% endblock %}
