{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="page-header">
    {{ 'security.login.header'|trans|raw }}
</div>

{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<!--blockquote>
  <p>{{ 'security.login.info'|trans|raw }}</p>
  <small>Mr. Sylius Demo Guide</small>
</blockquote-->

<form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal">
<fieldset>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">{{ 'security.login.email'|trans }}</label>
        <div class="col-sm-9">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">{{ 'security.login.password'|trans }}</label>
        <div class="col-sm-9">
            <input type="password" id="password" name="_password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label for="remember_me">
                    {{ 'security.login.remember_me'|trans }} &nbsp; <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </label>
            </div>
        </div>
    </div>
    <div class="pull-right">
    	<p>
    		<a href="{{ path('fos_user_resetting_request') }}" class="btn btn-info btn-sm">{{ 'security.login.forgot_password'|trans }}</a>
    		<a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-sm">{{ 'security.login.no_account'|trans }}</a>
    	</p>
    </div>
</fieldset>
<div class="form-actions clearfix">
    <!--div class="pull-right">
        {{ render(url('hwi_oauth_connect')) }}
    </div-->
    <button type="submit" class="btn btn-primary btn-lg" name="login"><i class="icon-lock"></i> {{ 'security.login.submit'|trans }}</button>
    <br><br>
    ------------------- O -------------------
    <div>
        {{ render(url('hwi_oauth_connect')) }}
    </div>
</div>
</form>


<div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
                appId      : '1098678823527876',                        // App ID from the app dashboard
                //channelUrl : '//yourdomain.com/channel.html',      // Channel file for x-domain comms
                status     : true,                                 // Check Facebook Login status
                xfbml      : true,                                  // Look for social plugins on the page
                cookie     : true,
                version    : 'v2.2'
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // connected
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    // not_authorized
                    FB.login(function(response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>

    

    <p>
        <a href="#" onclick="fb_login();">Facebook Connect Button (Dialog)</a>
    </p>



<script type="text/javascript">
$( document ).ready(function() {
    $('.oauth-login-amazon').hide();
});
</script>
{% endblock %}
