<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                {{ 'sylius.meta.backend_title'|trans }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <!-- responsiveness, scaling... -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- set author of your site -->
        <meta name="author" content="Red Medica">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <!-- site thumbnail -->
        <link rel="image_src" href="thumbnail.png" />
        <!-- favicon -->
        <link rel="icon" type="image/ico" href="{{asset('favicon.ico')}}">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.css" type="text/css" />
            {% stylesheets output='assets/compiled/backend.css' filter='cssrewrite'
                'bundles/syliusweb/css/blueimp-gallery.css'
                'bundles/syliusweb/css/select2.css'
                'bundles/syliusweb/css/datepicker3.css'
                'bundles/syliusweb/css/backend.css'
                'bundles/syliusresource/css/form-collection.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'SyliusWebBundle:Backend:_navbar.html.twig' %}
        <div class="row main-container">
            <div class="col-md-1 col-lg-2 hidden-sm hidden-xs">
                {% block sidebar %}
                <div id="sidebar">
                    <div class="sidebar-nav">
                        {{ knp_menu_render('sylius.backend.sidebar', {'template': 'SyliusWebBundle::menu.html.twig', 'currentClass': 'active'}) }}
                    </div>
                </div>
                {% endblock %}
            </div>

            <div class="col-md-11 col-lg-10">
                <div id="topbar">
                    {% block topbar %}
                    {% include 'SyliusWebBundle:Backend:_breadcrumb.html.twig' %}
                    {% endblock %}
                </div>

                <div id="content">
                    {% include 'SyliusWebBundle:Backend:_flashes.html.twig' %}

                    {% block content %}
                    {% endblock %}

                    <hr>

                    {# Gallery modal #}
                    {% include 'SyliusWebBundle::gallery.html.twig' %}

                    {# Confirmation modal #}
                    {% include 'SyliusWebBundle::confirm-modal.html.twig' %}

                    <footer>
                        <p>&copy; <a href="https://parafar.me"><span style="color:#8DBF43 !important;">{{ 'sylius.logo'|trans|slice(0, 7) }}</span><span style="color:#404041 !important;margin-left: 0px;">.</span><span style="color:#1892B6 !important;margin-left: 0px;">{{ 'sylius.logo'|trans|slice(8, 10) }}</span></a> {{ 'now'|date('Y') }}</p>
                    </footer>
                </div>
            </div>
        </div>

        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
            {% javascripts output='assets/compiled/backend.js'
                'bundles/syliusreport/js/chart.js'
                'bundles/syliusweb/js/jquery.blueimp-gallery.min.js'
                'bundles/syliusweb/js/confirm-modal.js'
                'bundles/syliusweb/js/form-collection.js'
                'bundles/syliusweb/js/form-spinner.js'
                'bundles/syliusweb/js/select2.js'
                'bundles/syliusweb/js/bootstrap-datepicker.js'
                'bundles/syliusweb/js/backend.js'
                'bundles/syliusresource/js/form-collection.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
